@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #1b1b1bff;
  --secondary: #2c2c2cff;
  --tertiary: #444444ff;
  --light-1: #eaeaeaff;
  --light-2: #ffffffff;
  --accent-1: #ff6b6bff;
  --accent-2: #00adb5ff;
  --accent-3: #ffcc29ff;
}

body {
  background-color: var(--primary) !important;
  height: 100vh;
}

html {
  font-family: "Poppins", sans-serif;
}
