/* WorkoutForms.module.css */
.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.header h1 {
    color: var(--light-1);
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header span {
    color: var(--accent-1);
}

.header hr {
    background-color: var(--light-1);
    height: 5px;
    width: 90%;
    margin: auto;
}

.forms {
    width: 90%;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    margin: 0 auto;
}

.filter {
    margin-right: 100px;
    flex-shrink: 0;
}

.workoutForms {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 80px;
    align-items: start;
    justify-content: center;
}

.workoutForms > * {
    width: 100%;
    height: auto;
}
@media (max-width: 1800px){
    .workoutForms {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media (max-width: 900px) {
    .forms {
        flex-direction: column;
        align-items: center;
    }
    
    .filter {
        width: 90%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .workoutForms {
        grid-template-columns: 1fr;
        width: 90%;
    }

    @media (max-width: 500px){
        .workoutForms{
            scale: 0.8;
        }
    }
}

@media (max-width: 430px) {
    .equipmentImage {
        scale: 0.8;
        /* or you can use transform */
        /* transform: scale(0.8); */
    }
}

