/* WorkoutForms.module.css */
.container {
    width: 100%;
}

.header h1 {
    color: var(--light-1);
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header span {
    color: var(--accent-1);
}

.header hr {
    background-color: var(--light-1);
    height: 5px;
    width: 90%;
    margin: auto;
}

.forms {
    width: 100%;
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.filter {
    margin-right: 200px;
}

.workoutForms {
    max-width: 1000px;
    column-count: 2;
    column-gap: 30px;
}

.workoutForms > * {
    display: inline-block;
    margin-bottom: 30px;
    break-inside: avoid;
}

@media (max-width: 1100px){
    @media screen and (max-width: 1100px) {
        .workoutForms {
            column-count: 1;
        }
        
        .workoutForms {
            width: 65%; 
        }
    }
    
}