.container1 {
  display: flex;
  flex-direction: column;
  background: var(--light-1);
  border-radius: 10px;
  overflow: hidden;
  transform: scale(1.2);
  transform-origin: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.hr {
  width: 92%;
  display: flex;
  height: 2px;
  background: var(--primary);
  border-radius: 2000px;
  opacity: 1;
  margin: 0.5rem auto;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: 0.6rem;
}

.input {
  display: flex;
  align-items: center;
  background: var(--light-2);
  border: 1px solid var(--secondary);
  padding: 0.5rem;
  overflow: hidden;
}

.input input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--light-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input::placeholder {
  color: rgba(128, 128, 128, 0.8);
}

.input img {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.createdAccount {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-top: 9px;
  color: var(--light-700);
  font-size: 13px;
  font-weight: 500;
}

.createdAccount p {
  font-size: 0.8rem;
}

.createdAccount button {
  background: none;
  border: none;
  margin: none;
  color: var(--accent-2);
  cursor: pointer;

  transition: color 0.1s ease-in-out;
}

.createdAccount button:hover {
  text-decoration: underline;
  color: var(--accent-1);
}

.signupButton {
  overflow: hidden;
}

.submit {
  padding: 5px 5px;
  background-color: var(--accent-3);
  color: var(--primary);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 1px solid var(--secondary);
  margin-top: 0.9rem;
  border-radius: 3px;
  width: 100%;
}

.submitDisabled {
  background-color: gray;
  color: var(--light-700);
  cursor: not-allowed;
}

.submitDisabled:hover {
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .container1 {
    margin: 10px;
  }
  .header {
    font-size: 1.2rem;
  }

  .input input::placeholder {
    color: rgba(128, 128, 128, 0.8);
    font-size: 0.75rem;
  }

  .input img {
    width: 10px;
    height: 10px;
    margin-top: 0.35rem;
    margin-right: 0.3rem;
  }
}

@media (max-width: 400px) {
  .container1 {
    margin: 1px;
  }

  .header {
    font-size: 1.2rem;
  }

  .input {
    display: flex;
    align-items: center;
    background: var(--light-2);
    border: 1px solid var(--secondary);
    padding: 0.5rem;
  }

  .input input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--light-500);
  }

  .input input::placeholder {
    color: rgba(128, 128, 128, 0.8);
    font-size: 0.65rem;
  }

  .input img {
    width: 12px;
    height: 12px;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
  }

  .createdAccount {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-top: 9px;
    color: var(--light-700);
    font-size: 10px;
    font-weight: 500;
  }
}
