.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 6rem;
  padding-bottom: 1.8rem;
  width: 500px;
  background: var(--light-300);
  border-radius: 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.8rem;
  gap: 0.6rem;
  width: 100%;
}

.text {
  color: var(--light-700);
  font-size: 2.2rem;
  font-weight: 750;
}

.inputs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  background: var(--light-500);
  width: 20rem;
  height: 3.6rem;
  border: 1px solid var(--light-200);
}

.input input {
  height: 3rem;
  width: 20rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: var(--light-100);
}

.input img {
  margin: 0 1.6rem;
}

.forgot-password {
  margin-top: 1.7;
  color: var(--light-700);
  font-size: 1.1rem;
  font-weight: 500;
}

.forgot-password span {
  color: var(--light-500);
  cursor: pointer;
}

.forgot-password span:hover {
  text-decoration: underline;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-500);
  color: var(--light-100);
  width: 15rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  margin: 1rem;
}

.submit:hover {
  background-color: var(--light-600);
}
