.item {
  background-color: var(--tertiary);
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
}
.item:hover {
  scale: 1.005;
  transition: 0.2s ease;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.exerciseTitle {
  font-size: 32px;
  font-weight: bold;
  color: var(--light-2);
  margin-bottom: 10px;
}

.muscleGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.muscleLabel {
  color: var(--light-2);
  font-weight: 600;
  font-size: 24px;
}

.labelDot {
  color: var(--light-2);
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  margin: 0;
}

.difficultyBadge {
  font-size: 20px;
  color: var(--primary);
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 20px;
  text-transform: uppercase;
}

.beginner {
  background-color: var(--difficulty-1);
}

.intermediate {
  background-color: var(--difficulty-2);
}

.expert {
  background-color: var(--difficulty-3);
}

.expandIcon {
  background-color: var(--gray-1);
  color: var(--light-1);
  border-radius: 100%;
  box-sizing: border-box;
  padding: 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.expanded .expandIcon {
  transform: rotate(180deg);
}

.exerciseContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded .exerciseContent {
  max-height: 1500px;
}

.twoColumnLayout {
  display: flex;
  gap: 20px;
}

.imageColumn {
  margin-top: 30px;
  flex: 0 0 40%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.imageColumn .musclesSection {
  display: none;
}
.instructionsColumn .musclesSection {
  display: block;
  order: 3;
}
.instructionsColumn .instructionSection {
  order: 1;
}

.instructionsColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.musclesSection {
  background-color: var(--gray-1);
  border-radius: 8px;
  padding: 10px;
  margin-top: auto;
}

.exerciseImage {
  width: 100%;
  border-radius: 50px;
  margin-bottom: 10px;
  background-color: var(--light-1);
}

.sectionTitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--light-2);
  margin: 25px 0 10px;
}

.description {
  color: var(--light-2);
  margin: 0 0 16px;
  font-size: 24px;
}

.instructionSection {
  margin-bottom: 25px;
}

.metaInfoContainer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 0px;
  gap: 10px;
}

.metaInfoItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 90%;
  background-color: var(--gray-1);
  padding: 5px 10px;
  border-radius: 15px;
}

.metaInfoTitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--light-2);
  margin-bottom: 10px;
}

.metaInfoValue {
  font-size: 24px;
  color: var(--light-2);
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.metaInfoSecondsBolded {
  font-weight: bold;
}

@media (max-width: 768px) {
  .twoColumnLayout {
    flex-direction: column;
  }

  .imageColumn {
    max-width: 100%;
    order: 1;
  }

  .instructionsColumn {
    max-width: 100%;
    order: 2;
  }

  .description {
    margin-bottom: 0px;
  }

  .excerciseDetails {
    padding: none;
  }

  .imageColumn .musclesSection {
    display: block;
    margin-top: 20px;
    margin-bottom: 47px;
  }

  .instructionsColumn .musclesSection {
    display: none;
  }

  .instructionsColumn .instructionSection {
    order: initial;
    margin-bottom: 0px;
  }
}

@media (max-width: 620px) {
  .item {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  }

  .exerciseTitle {
    font-size: 26px;
    margin-bottom: 8px;
  }

  .muscleGroup {
    gap: 6px;
  }

  .muscleLabel {
    font-size: 19px;
  }

  .labelDot {
    font-size: 24px;
  }

  .difficultyBadge {
    font-size: 16px;
    padding: 3px 6px;
    border-radius: 16px;
  }

  .expandIcon {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .twoColumnLayout {
    gap: 16px;
  }

  .imageColumn {
    margin-top: 24px;
  }

  .imageColumn .musclesSection {
    margin-top: 16px;
    margin-bottom: 38px;
  }

  .musclesSection {
    border-radius: 6px;
    padding: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  }

  .exerciseImage {
    border-radius: 40px;
    margin-bottom: 8px;
  }

  .sectionTitle {
    font-size: 19px;
    margin: 20px 0 8px;
  }

  .description {
    font-size: 19px;
  }

  .metaInfoContainer {
    padding-top: 8px;
    gap: 8px;
  }

  .metaInfoItem {
    padding: 4px 8px;
    border-radius: 12px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  }

  .metaInfoTitle {
    font-size: 19px;
    margin-bottom: 8px;
  }

  .metaInfoValue {
    font-size: 19px;
    gap: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

@media (max-width: 450px) {
  .item {
    padding: 13px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  }

  .exerciseTitle {
    font-size: 21px;
    margin-bottom: 6px;
  }

  .muscleGroup {
    gap: 5px;
  }

  .muscleLabel {
    font-size: 15px;
  }

  .labelDot {
    font-size: 19px;
  }

  .difficultyBadge {
    font-size: 13px;
    padding: 2px 5px;
    border-radius: 13px;
  }

  .expandIcon {
    padding: 8px;
    width: 32px;
    height: 32px;
  }

  .twoColumnLayout {
    gap: 13px;
  }

  .imageColumn {
    margin-top: 19px;
  }

  .imageColumn .musclesSection {
    margin-top: 13px;
    margin-bottom: 30px;
  }

  .musclesSection {
    border-radius: 5px;
    padding: 6px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  }

  .exerciseImage {
    border-radius: 32px;
    margin-bottom: 6px;
  }

  .sectionTitle {
    font-size: 15px;
    margin: 16px 0 6px;
  }

  .description {
    font-size: 15px;
  }

  .metaInfoContainer {
    padding-top: 6px;
    gap: 6px;
  }

  .metaInfoItem {
    padding: 3px 6px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  }

  .metaInfoTitle {
    font-size: 15px;
    margin-bottom: 6px;
  }

  .metaInfoValue {
    font-size: 15px;
    gap: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
